@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}

:root{
  --vertclair : #25414d;
  --jauneclair : #9b8159;
  --orangeclair : #B67352;
  --rouge : #FF8080;
  --blanc : #fdfdfd;
}

body{
  background-color: black;
}

.titre{
  color: var(--blanc);
}
input[type="text"]{
  color: var(--rouge);
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 50px 50px 10px;
}

input[type="checkbox"]{
  margin-right: 10px;
}

input:focus{
  border-color: var(--rouge);
}

button{
  border: 0.5px solid black;
  padding: 0.4rem;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.5s;
}

button:hover{
  cursor: pointer;
  background-color: var(--orangeclair);
}

.container{
  background-color: var(--vertclair);
  width: 50vh;
  height: 50vh;
  margin: 5rem auto;
  border-radius: 50px 50px 25px 25px;
}

.todolist{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



h1{
  background-color: var(--orangeclair);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 20px;
}

.listeTache{
  border-radius: 10px 10px 10px 10px;
  background-color: var(--jauneclair);
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

ul{
  list-style-type: none;
  position: relative;
  left: 0;  
}

.barre{
  text-decoration: line-through;
  color: green;
}

svg path{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.uneTache{
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: var(--blanc);
  width: 80%;
  padding: 1rem;
}

.icon{
  margin: 0px 5px;
}

.stylo{
  fill: green;
}

.tache{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.deleteAll{
  position: absolute;
  top: 5px;
  right: 10px;
  size: 50px;
}